* {
  margin: 0 auto;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  max-width: 1000px;
  background: transparent;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Lexend Mega', sans-serif;
    font-family: 'Bebas Neue', cursive;
    color: #0468EE;
    background-color: #FEE17B;
  }

  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFB800;
  }

  #head_branding {
    margin: 15px;
  }

  #head_branding h1{
    font-size: 72px;
    padding: 0px;
  }

  #head_branding h3{
    color: #4C805F;
    font-size: 38px;    
  }
  
  #head_navbar ul {
    display: inline-flex;
    justify-content: right;
    gap: 10px;
    list-style: none;
  }

  #head_navbar li a {
    font-size: 32px;
    color: #A92746;
  }

  #image_container {
    display: flex;
    justify-content: flex-end;
  }

  #main_image {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 55px;
  }

  #article_container {
    display: flex;
    justify-content: space-around;
    margin-left: 15px;
    font-size: 38px; 
  }

  .article_title {
    color: #326a47;
    font-size: 36px;
  }

  .article {
    font-size: 28px;
    width: 300px;
  }

  .article_flow {
    font-family: 'Source Sans Pro';
    font-size: 18px;
  }

  .article_icon {
    float: left;
    border-radius: 20px;
    border-color: #A92746;
    padding: 5px

  }

  #read_more_container {
    display: flex;
    justify-content: space-around;
  }

  #read_more_container p {
    color: #A92746;
    font-size: 28px;
    padding: 5px;
    margin-left: auto;
  }

  #footer {
    font-size: 24px;
    margin-top: 10px;
    padding: 10px;
    background-color: #FFB800;   
  }
