* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  max-width: 1710px;
  background: transparent;
}

body {
    /* font-family: 'Lexend Mega', sans-serif; */
    font-family: 'Bebas Neue', cursive;
    color: #0468EE;
    background-color: #FEE17B;
  }

  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFB800;
    /* border: 15px solid green; */
  }

  #head_branding {
    margin-left: 15px;
    padding-bottom: 15px; 
  }

  #head_branding h1{
    font-size: 72px;
    padding: 0px;
  }

  #head_branding h3{
    color: #551B8B;
    font-size: 38px;    
  }
  
  #head_navbar ul {
    display: inline-flex;
    justify-content: right;
    gap: 10px;
    list-style: none;
  }

  #head_navbar li {
    font-size: 38px;
  }

  #image_container {
    display: flex;
    justify-content: flex-end;
  }

  #main_image {
    padding-top: 25px;
    padding-right: 250px;
  }

  #article_container {
    margin-left: 15px;
  }

  #footer {
    font-size: 24px;
    margin-top: 10px;
    padding: 10px;
    background-color: #FFB800;   
  }




